<nav id="login-bar">
  <div>
    <a href="/login"> Log In </a>
  </div>
  <div>
    <a href="/signup"> Sign Up </a>
  </div>  
</nav>
    
<div id="landing">
  <div>
    <h4> {{title}} </h4>
    <br>
  </div>

  <div class="repetitive-stress">
    <div>
      <h5> Repetitive Stress </h5>
      <p> Info about computer-user repetitive stresses & postural-malalignments </p>
      <p>  </p>
    </div>
    <div>
      <img src="" />
    </div>
  </div> 

  <div class="SMR-landing">
    <div>
      <h5> SMR (Self-Myofascial-Release) </h5>
      <p> SMR is a method of self-massage which focuses on releasing tension in tough connective tissue through slow, sustained pressure). </p>
      <p> Since it utilizes your own bodyweight to adjust pressure, it can be practiced just about anywhere with minimal equipment. </p>
      <p> It's main advantage is the ability to self-regulate your practice and adjust according to how sensitive a particular trigger-point "feels". </p>
    </div>
    <div>
      <img src="" />
    </div>
  </div>  

  <div class="targeted-stretching">
    <div>
      <h5> Targeted Stretching </h5>
      <p> Targeted stretches following an SMR routine can help to lengthen the corresponding muscle and increases range of motion more effectively than stretching alone. </p>
      <p> This not only improves your flexibility over time, but also corrects muscle imbalances, relieves soreness, and releases feel-good chemicals called endorphins.</p>
    </div>
    <div>
      <img src="" />
    </div>
  </div>  
</div


