<nav id="login-bar">
  <div>
    <a href="/login"> Log In </a>
  </div>
  <div>
    <a href="/signup"> Sign Up </a>
  </div>  
</nav>

<body class="landing-background">
  <div id="landing-title">
    <h4> Coder-Maintenance : <br> Refresh your Human-Hardware </h4>
  </div>
  <div id="landing-text">
    <p> It's great to be hardworking. But sometimes when working on projects we can tend to border on obsessive perfectionism. 
        That's great for your projects and employers, but terrible for your body. 
        Over time, repetitive stress can lead to muscle imbalances that cause pain, headaches, and eventual damage to the joints. </p>
    <br>
  </div>
  
  <div id="landing-text2">
    <p> Learn how to prevent and correct these issues with : </p>
    <br>
  </div>
  <div class="image-row landing-wrap">
    <div class="circle-divs">
      <div class="image-cropper"> 
        <img class="ergo-circle" src="images/monitor sitting positions.jpg"> 
      </div>
      <p> Ergonomics </p> 
    </div>
    <div class="circle-divs">
      <div class="image-cropper"> 
        <img class="pressure-points" src="images/Liu-bu-pressure-points.gif"> 
      </div>
      <p> Pressure-point Massage </p> 
    </div>
    <div class="circle-divs">
      <div class="image-cropper"> 
        <img class="yoga-type" src="images/deskercise.png">  
        {{!-- <img src="images/stretching-conference.jpg"> --}}
      </div>
      <p> Stretching </p>
    </div>
  </div>

  <br>

  <div id="workarea">
    <div class="position">
      <div class="svg-wrapper">
        <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
          <rect id="shape" height="40" width="150" />
          <div id="text">
            <a href="/main"><span class="spot"> Enter </span></a>
            <br>
            <br>
            <br>
          </div>
        </svg>
      </div>
    </div>
  </div>
</body>

