<nav id="login-bar">
  <div>
    <a href="/login"> Log In </a>
  </div>
  <div>
    <a href="/signup"> Sign Up </a>
  </div>  
</nav>

<body class="landing-background">
  <div id="">
    <div id="landing-title">
      <h3> <b>Coder-Maintenance</b> : <br> Refresh your Human-Hardware </h3>
    </div>
    <div id="landing-text">
      <p> Most of us spend long periods of time on the computer, whether at work or at home. 
          Over time, the repetitive stress of sitting with bad posture for hours on end can take it's toll.
          This can cause you to develop muscle imbalances which cause muscle soreness, joint pain, &/or headaches.
    </div>
  </div>
  <div class="image-row landing-wrap">
    <div id="landing-text">
      <p> Learn how to prevent and correct these issues with : </p>
    </div>
    <div class="circle-divs">
      <div class="image-cropper"> 
        <img class="ergo-circle" src="images/superman_spine.jpg">
        {{!-- <img class="ergo-circle" src="images/monitor sitting positions.jpg"> --}}
      </div>
      <p> Ergonomics </p> 
    </div>
    <div class="circle-divs">
      <div class="image-cropper"> 
        <img class="pressure-points" src="images/Liu-bu-pressure-points.gif"> 
      </div>
      <p> Pressure-point Massage </p> 
    </div>
    <div class="circle-divs">
      <div class="image-cropper"> 
        <img class="yoga-type" src="images/deskercise.png">  
        {{!-- <img src="images/stretching-conference.jpg"> --}}
      </div>
      <p> Stretching </p>
    </div>
  </div>

  <br>

  <div id="workarea">
    <div class="position">
      <div class="svg-wrapper">
        <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
          <rect id="shape" height="40" width="150" />
          <div id="text">
            <a href="/main"><span class="spot"> Enter </span></a>
            <br>
            <br>
            <br>
          </div>
        </svg>
      </div>
    </div>
  </div>
</body>

