<nav id="login-bar">
  <div>
    <a href="/login"> Log In </a>
  </div>
  <div>
    <a href="/signup"> Sign Up </a>
  </div>  
</nav>

<body class="landing-background">
  <div id="landing-title">
    <h4> {{title}} </h4>
  </div>
  <div id="landing-text">
    <p> It's great to be hardworking. But sometimes when working on projects we can tend to border on obsessive perfectionism. 
        That's great for your projects and employers, but terrible for your body. 
        Over time, repetitive stress can lead to muscle imbalances that cause pain, headaches, damage to the joints. </p>
    <br>
  </div>
  <div id="landing-text2">
    <p> Learn how to prevent and correct these issues with : Ergonomics, Trigger-point Massage and Stretching </p>
  </div>

<div id="workarea">
  <div class="position">
    <div class="svg-wrapper">
      <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
        <rect id="shape" height="40" width="150" />
        <div id="text">
          <a href="/login"><span class="spot"></span>Enter</a>
        </div>
      </svg>
    </div>
  </div>
</div>

  {{!-- <div id="landing1";>
    <div id="repetitive-stress">
      <h5> Repetitive Stress </h5>
      <p> Info about computer-user repetitive stresses & postural-malalignments </p>
      <p>  </p>
    </div>
    <div>
      <img src="" />
    </div>
  </div>

  <div id="landing2">
    <div id="SMR-landing">
      <h5> SMR (Self-Myofascial-Release) </h5>
      <p> SMR is a method of self-massage which focuses on releasing tension in tough connective tissue through slow, sustained pressure. </p>
      <p> Since it utilizes your own bodyweight to adjust pressure, it can be practiced just about anywhere with minimal equipment. </p>
      <p> It's main advantage is the ability to self-regulate your practice and adjust according to how sensitive a particular trigger-point "feels". </p>
    </div>
    <div>
      <img src="" />
    </div>
  </div>

  <div id="landing3">
    <div id="targeted-stretching">
      <div>
        <h5> Targeted Stretching </h5>
        <p> Targeted stretches following an SMR routine can help to lengthen the corresponding muscle and increases range of motion more effectively than stretching alone. </p>
        <p> This not only improves your flexibility over time, but also corrects muscle imbalances, relieves soreness, and releases feel-good chemicals called endorphins.</p>
      </div>
      <div>
        <img src="" />
      </div>
    </div> --}} 
  </div>
</body>

