<nav id="login-bar">
  <div>
    <a href="/login"> Log In </a>
  </div>
  <div>
    <a href="/signup"> Sign Up </a>
  </div>  
</nav>
    
<div id="landing">
  <div>
    <h4> {{title}} </h4>
    <br>
  </div>

  <div>
    <h5> Repetitive Stress </h5>
    <p>
      Info about computer-user repetitive stresses & postural-malalignments
    </p>
    <img src="" />
  </div> 

  <div>
    <h5> SMR (Self-Myofascial-Release) </h5>
    <p>
      Pressure Points & Myofasacial Release (sustained pressure) can inhibit the neuromuscular firing of the muscle relieve the tension being placed on the tendons
    </p>
    <img src="" />
  </div>  

  <div>
    <h5> Targeted Stretching </h5>
    <p>
      Targeted stretches following an SMR routine can lengthen the muscle and INCREASE range of motion
    </p>
    <img src="" />
  </div>  
</div


