<body #id="custom-page" bgcolor="######" style="color:white">
  <h1> Custom Routine </h1>
    <div id="profile-buttons">
      <a href="/main">
        <button class="main-btn">Back to Main</button>
      </a>
      <form action="/logout" method="POST">
        <button class="logout-btn">Logout</button>
      </form>
    </div>  

  {{#each exercise}}
    <div class="smr-card">
      <img src="${{database.image}}">
      <p class="card-title"> ${{database.title}} </p>
      <p class="directions"> ${{database.description}} </p>
    </div>
    <hr>
  {{/each}}


</body>
