{{#if user}}
  <div class="profile-div">
    <h3> Profile Page </h3>
      <p> Name: {{user.name}} </p>
        <label> Edit Name : </label> 
        <input id="edit-name" type="text">
        <br>
      <p> City: {{user.city}} </p>
        <label> Edit City : </label> 
        <input id="edit-city" type="text">
        <br>
      <p> Email: {{user.email}} </p>
        <label> Edit Email : </label> 
        <input id="edit-email" type="text">
        <br>
      <p> Password:  </p>
        <label> Edit Password : </label> 
        <input id="edit-password" type="text">
        <br>
      {{!-- <div>
        <label>Name : </label>
        <input id="update-name" type="text">
      </div> --}}
  </div>
  <div id="logout-btn">
    <form action="/logout" method="POST">
      <button class="logout-btn">Logout</button>
    </form>
  </div>

<hr>

  <div>
    <div id="custom-section">
      <div class="leftside">
          <h4> Custom Routine </h4>
          <button id="custom-btn"> Show Routine </button>
          <div id="list-of-custom">
            
          </div>
      </div>

      <div class="rightside">
        <div>
          <h4>Add New Stretch</h4>
          <div>
            <label>Name of Exercise</label>
            <input id="new-title" type="text">
          </div>
          <div>
            <label>Write a Brief Description</label>
            <input id="new-description" type="text">
          </div>
          <div>
            <br>
            <label>Upload an Image</label>
            <input id="new-image" type="file" name="photo">
            {{!-- <form action="/upload" method="post" enctype="multipart/form-data">
              <input type="text" name="name">
              <input type="file" name="photo">
              <input type="submit" value="Save">
            </form> --}}
          </div>
          <br>
          <button id="add-new-btn">Create Card</button>
        </div>
      </div>
    </div>
  </div>
{{/if}}
