<div class="main-div">
  {{!-- Visual Sidenav for Neck, Shoulders, Lowerback, Wrists --}}
  <div class="visual-nav">
    <img src="images/back-nav.jpg" alt="visual-nav">

    <div class="neck-frwd-btn">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/neck-lean'"> 
        Neck <br> (Forward Lean)
      </button>
    </div>
    <div class="neck-asym-btn">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/neck-asym'"> 
        Neck (Asymmetry)
        </button>
    </div>
    <div class="shoulders-btn">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/shoulders'"> 
        Shoulders
      </button>
    </div>
    <div class="back-frwd-btn">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/back-lean'"> 
        Lowerback (Forward Lean)
      </button>
    </div>
    <div class="back-rnd-btn">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/back-rnd'"> 
        Lowerback (Rounded)
      </button>
    </div>
    <div class="back-asym-btn">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/back-asym'"> 
        Lowerback (Asymmetry)
      </button>
    </div>
    <div class="wrists-btn1">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/wrists'"> 
        Wrists
      </button>
    </div>
    <div class="wrists-btn2">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/wrists'"> 
        Wrists
      </button>
    </div>
  </div>

  {{!-- AJAX Windows --}}
  <div class="R-div">
    <div class="top-window style-7">
      <div>
        <div> 
          <h6> Causes & Corrections</h6>
        </div>
        <div class="image-row" style="padding: 0 1vw">
          <img class="tall" src="images/homer-ergo.jpg">
          <div style="padding: 0 20px">
            <p> The "repetitive stress" of sitting in one position for long periods of time leads some muscles to tense up more than others. <br/><br/>
                As such, one of the simplest ways to fix this is to change the way you position yourself while in your workspace. </p>
          </div>
          <img class="tall" src="images/ergo-nomics-good-enough.jpg">
        </div>
        <div class="causes-text">
          <p> Much like Yoga, ergonomics is all about finding the most efficient and effortless positioning. 
              Good posture in this case, usually refers to the position of our neck, lower back, shoulders, elbows, and wrists.
              It doesn't matter if you are sitting, standing, or reclining - as long as these areas are properly supported and aligned! </p>
        </div>
        <div class="image-row">
          <img class="x-long" src="images/laptoptray_bedbuy2.png">
          <img class="x-long" src="images/diy-reclining-workstation.jpg" href="http://www.jhelvy.com/blog/how-i-built-my-diy-adjustable-reclining-desk-with-standing-option">
        </div>
        <br/>
      </div>
      <a href="/profile"><img class="gear-link" src="images/Gear-8s-200px.gif"></a>
      <a class="profile-link" href="/profile"> Profile </a> 
    </div>

    <div class="bottom-windows">
      <div class="bottom-L-window style-7 smr">
        <div>
          <h6> SMR Pressure-Point Massage</h6>
        </div>
        <div class="smr-card ">
          <img src="images/smr/common-trigger-points.jpg">
          <p> <strong>S</strong>elf <strong>M</strong>yofascial <strong>R</strong>elease is a method of self-massage which focuses on releasing tension in the neruomuscular system and net of tough connective tissue which surrounds the muscle fibers. </p>
          <p> Since it utilizes your own bodyweight to adjust pressure, it can be practiced just about anywhere with minimal equipment to provide slow, sustained pressure to specific trigger points. </p>
          <p> It's main advantage is the ability to self-regulate your practice and adjust according to how sensitive a particular trigger-point "feels". </p>
          <img class="x-long" src="images/smr/SMR-techniques.png">
          <img src="images/smr/smr-knots.jpg">
          <p> Most SMR techniques require a cylindrical "Foam Roller" or a pair of Tennis balls or Lacrosse Balls. </p>
          <img src="images/smr/self-myofascial-release-collection.jpg">
        </div>
      </div>

      <div class="bottom-R-window style-7 stretch">
        <div>
          <h6> Follow-up Stretches </h6> 
        </div>
        <div class="stretch-card">
          <img src="images/stretching-conference.jpg">
          <p> Targeted stretches following an SMR routine can help to lengthen the corresponding muscle and increases range of motion more effectively than stretching alone. </p>
          <p> This not only improves your flexibility over time - but also corrects muscle imbalances, relieves soreness, and releases feel-good chemicals called endorphins.</p>
          <img src="images/office-stretch-gear-patrol-1440.jpg">
        </div>
      </div>
    </div>
  </div>
  
</div>