<div class="main-div">
  {{!-- Visual Sidenav for Neck, Shoulders, Lowerback, Wrists --}}
  <div class="visual-nav">
    <img src="images/back-nav.jpg" alt="visual-nav">

    <div class="neck-frwd-btn">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/neck-lean'"> 
        Neck <br> (Forward Lean)
      </button>
    </div>
    <div class="neck-asym-btn">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/neck-asym'"> 
        Neck (Asymmetry)
        </button>
    </div>
    <div class="shoulders-btn">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/shoulders'"> 
        Shoulders
      </button>
    </div>
    <div class="back-frwd-btn">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/back-lean'"> 
        Lowerback (Forward Lean)
      </button>
    </div>
    <div class="back-rnd-btn">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/back-rnd'"> 
        Lowerback (Rounded)
      </button>
    </div>
    <div class="back-asym-btn">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/back-asym'"> 
        Lowerback (Asymmetry)
      </button>
    </div>
    <div class="wrists-btn1">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/wrists'"> 
        Wrists
      </button>
    </div>
    <div class="wrists-btn2">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/wrists'"> 
        Wrists
      </button>
    </div>
  </div>

  {{!-- AJAX Windows --}}
  <div class="R-div">
    <div class="top-window style-7">
      <div class="causes">
        <div> <h6> Causes & Corrections</h6>  </div>
        <div>
          <p>  </p>
        </div>
      </div>
      <a href="/profile"><img class="gear-link" src="images/Gear-8s-200px.gif"></a>
      <a class="profile-link" href="/profile"> Profile </a> 
    </div>

    <div class="bottom-windows">
      <div class="bottom-L-window style-7 smr">
        <div>
          <h6> SMR Pressure-Point Massage</h6> 
        </div>
        {{!-- <div class="smr-card">
          <img src="images/">
          <p> SMR is a method of self-massage which focuses on releasing tension in tough connective tissue through slow, sustained pressure. </p>
          <p> Since it utilizes your own bodyweight to adjust pressure, it can be practiced just about anywhere with minimal equipment. </p>
          <p> It's main advantage is the ability to self-regulate your practice and adjust according to how sensitive a particular trigger-point "feels". </p>
        </div> --}}
      </div>

      <div class="bottom-R-window style-7 stretch">
        <div>
          <h6> Follow-up Stretches </h6> 
        </div>
        {{!-- <div class="stretch-card">
          <img src="images/">
          <p> Targeted stretches following an SMR routine can help to lengthen the corresponding muscle and increases range of motion more effectively than stretching alone. </p>
          <p> This not only improves your flexibility over time, but also corrects muscle imbalances, relieves soreness, and releases feel-good chemicals called endorphins.</p>
        </div> --}}
      </div>
    </div>
  </div>
  
</div>