<div class="main-div">
  {{!-- Visual Sidenav for Neck, Shoulders, Lowerback, Wrists --}}
  <div class="visual-nav">
    <img src="images/back-nav.jpg" alt="visual-nav">
    <div class="neck-frwd-btn">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/neck-lean'">  
        Neck <br/> (Forward Lean)
      </button>
    </div>
    <div class="neck-asym-btn">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/neck-asym'"> 
        Neck <br/> (Asymmetry)
        </button>
    </div>
    <div class="shoulders-btn">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/shoulders'"> 
        Shoulders
      </button>
    </div>
    <div class="back-frwd-btn">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/back-lean'"> 
        Lowerback <br/> (Forward Lean)
      </button>
    </div>
    <div class="back-rnd-btn">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/back-rnd'"> 
        Lowerback <br/> (Rounded)
      </button>
    </div>
    <div class="back-asym-btn">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/back-asym'"> 
        Lowerback <br/> (Asymmetry)
      </button>
    </div>
    <div class="wrists-btn1">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/wrists'"> 
        Wrists
      </button>
    </div>
    <div class="wrists-btn2">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/wrists'"> 
        Wrists
      </button>
    </div>
  </div>

  {{!-- Right Windows --}}
  <div class="R-div">
    <div class="top-window style-7">
      <div class="causes">
        <div> <h3> Causes & Corrections </h3> </div>
        <div>
          <p class="card-title">  </p>
        </div>
        <div>
          <p>  </p>
          <p>  </p>
        </div>
        <div class="image-row">
          <img class="short" src="images/lowerback/asym-imbalance.jpg">
          <img class="long" src="images/lowerback/lowerback-a.jpeg">
        </div>
      </div>
      {{!-- <a href="/profile"><img class="gear-link" src="images/Gear-8s-200px.gif"></a>
      <a class="profile-link" href="/profile"> Profile </a>  --}}
    </div>

    <div class="bottom-windows">
      <div class="bottom-L-window style-7 smr">
        <div>
          <h4> SMR Pressure-Point Massage</h4>
        </div>
        <div class="smr-card">
          <img src="images/">
          <p class="card-title">  </p>
          <p class="directions">  </p>
        </div>
      </div>

      <div class="bottom-R-window style-7 stretch">
        <div>
          <h4> Follow-up Stretches </h4>
        </div>
        <div class="stretch-card">
          <img src="images/lowerback/">
          <p class="card-title">  </p>
          <p class="directions">  </p>
        </div>
        <div class="stretch-card">
          <img src="images/lowerback/desk-side-stretch.jpeg">
          <p class="card-title">  </p>
          <p class="directions">  </p>
        </div>
      </div>
    </div>
  </div>
  
</div>