<div class="main-div">
  {{!-- Visual Sidenav for Neck, Shoulders, Lowerback, Wrists --}}
  <div class="visual-nav">
    <img src="images/back-nav.jpg" alt="visual-nav">
    <div class="neck-frwd-btn">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/neck-lean'">  
        Neck <br/> (Forward Lean)
      </button>
    </div>
    <div class="neck-asym-btn">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/neck-asym'"> 
        Neck <br/> (Asymmetry)
        </button>
    </div>
    <div class="shoulders-btn">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/shoulders'"> 
        Shoulders
      </button>
    </div>
    <div class="back-frwd-btn">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/back-lean'"> 
        Lowerback <br/> (Forward Lean)
      </button>
    </div>
    <div class="back-rnd-btn">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/back-rnd'"> 
        Lowerback <br/> (Rounded)
      </button>
    </div>
    <div class="back-asym-btn">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/back-asym'"> 
        Lowerback <br/> (Asymmetry)
      </button>
    </div>
    <div class="wrists-btn1">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/wrists'"> 
        Wrists
      </button>
    </div>
    <div class="wrists-btn2">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/wrists'"> 
        Wrists
      </button>
    </div>
  </div>

  {{!-- Right Windows --}}
  <div class="R-div">
    <div class="top-window style-7">
      <div class="causes">
        <div> <h3> Causes & Corrections </h3></div>
        <div class="text-div">
          <p> Neck strain is commonly caused by holding your head in one position for long periods of time. For most people, this usually means looking downward at a screen (aka "Tech Neck"). </p>
          <p> Due to the principle of leverage - the greater the tilt of your head, the more force it takes to hold it up against gravity. 
              So the more forward your head hangs, the more it will tilt downward as your neck compensates for the weight of your head.</p>
        </div>
        <div class="image-row">
          <img class="short" src="images/neck/neck-f0.jpg">
          <img class="x-long" src="images/neck/neck-strain-weight.jpg">
          <img class="short" src="images/neck/neck-f1.jpeg">
        </div>
        <div class="top-box">
          <div class="text-div">
            <p> By raising the screen to <b>eye-level</b>, the spine is able to rest in a straightened position as we sit - reducing the strain to the muscles that hold our head up. </p> 
            <p> Elevating the screen can be done with something as simple as stacked boxes/books, or with a device like a "Laptop Stand".
                These stands come in various styles, but the most important aspect to look for is a stand which eleveates the top of the screen to about <b>1-2 inches below eye-level</b>. 
                Generally, this means a stand which raises the <b>top edge of the screen</b> a minimum of <b>12 inches (30cm) above the tabletop</b>.</p>
          </div>
          <div class="image-row">
            <img class="short" src="images/neck/laptopstands-lowres-1123.jpg">
            <img class="long" src="images/neck/roost-laptop-stand-posture-image-1024x571.gif">
            <img class="short" src="images/neck/Roost-Laptop-Stand.jpg">
          </div>
          <div class="text-div">
            <p> Keep in mind though, that using a laptop stand will mean that you will also need an external keyboard and mouse - 
                otherwise you arms will be in an uncomfortable position which can put strain on your <a href="/wrists">wrists.</a> </p>
          </div>
          <br/>
        </div>
        <div class="text-div">
          <p> Another factor may lie with the way you sleep. 
              After all, what better way to make a problem worse than to aggravate it for hours while you sleep?
              Conversely, a good sleeping position can account for hours of release. </p>
        </div>
        <div class="image-row">
          <img class="xx-long" src="images/neck/sleep-neck.png">
        </div>
        <div class="text-div">
          <p> A healthy neck position contains a natural C-shaped curve called "lordosis". 
              But a forward neck position straightens this section of the spine - putting pressure on the spinal discs. 
              Over time, this wear and tear can lead to degenerative diseases.</p>
        </div>
        <div class="image-row">
          <img class="tall" src="images/neck/lordotic-natural.webp">
          <img class="short" src="images/neck/poor-posture-e1417734350694.png">
          <img class="long" src="images/neck/Different-Examples-of-Cervical-Lordosis.jpg">
        </div>
        <div class="text-div">
          <p> Although many therapies exist to treat this disorder, one of the simplest is to support this natural curve as you sleep with a "cervical pillow" (a rolled-up towel under the neck can achieve the same result).</p>
          <p> "Cervical traction" devices like a "neck hammock" are also effective corrective devices, decompressing the spinal disks and relaxing the surrounding muscles.</p>
        </div>
        <div class="image-row">
          <img class="long" src="images/neck/lordotic-neck-towel.jpg">
          <img class="long" src="images/neck/Vector_Traction.jpg">
        </div>
        <br>
      </div>
      {{!-- <a href="/profile"><img class="gear-link" src="images/Gear-8s-200px.gif"></a>
      <a class="profile-link" href="/profile"> Profile </a>  --}}
    </div>

    <div class="bottom-windows">
      <div class="bottom-L-window style-7 smr">
        <div>
          <h4> SMR Pressure-Point Massage</h4>
        </div>
        <div class="smr-card">
          {{!-- <img src="images/smr/pectoralis-minor-SMR.jpg"> --}}
          <img src="images/shoulders/pec-trigger.jpeg">
          <p class="card-title"> Pectoralis Minor SMR </p>
          <p class="directions"> Requires : Tennis/Lacrosse ball or Theracane Device </p>
          <img src="images/smr/theracane-pec.jpeg">
          <p class="directions"> Apply circular rolling pressure by placing the ball between the pec and the shoulder. 
             Apply pressure using your bodyweight. This can be done laying face-down on the ground, or by leaning forward into a wall. </p>
          <img src="images/smr/SMR Pectoralis Minor.jpg">
        </div>  
        <div class="smr-card">
          <img class="trapezius" src="images/neck/Trapezius anatomy.jpeg">
          <p class="card-title"> Thoracic Spine & Lower Trapezius SMR </p>
          <p class="directions"> Requires : Foam-roller or Tennis balls </p>
          <p class="directions"> Keeping the arms crossed, roll over the device to massage the muscles along your spine - from your neck to mid-back. </p>
          <p class="directions"> For safety, avoid rolling out the lower-back as this has little benefits and can aggravate pre-existing problems.</p>
          <img src="images/smr/SMR-Thoracic-spine.jpg">
        </div>
        <div class="smr-card">
          <img src="images/smr/theracane-serratus-posterior-release-1.jpg">
          <p class="card-title"> Middle Trapezius SMR </p>
          <p class="directions"> Requires : Tennis/Lacrosse ball or Theracane Device </p>
          <p class="directions"> Place a ball between your back and a flat, solid wall. Position it just above one of your shoulder blades and lean back into it.</p>
          <p class="directions"> Roll the ball circularly, seeking out any sore points or muscular tension. </p>
          <p class="directions"> If you are using a Theracane, use the hook end to massage out the area just between the spine and shoulder blade. </p>
          <img src="images/smr/SMR Trapezius-Middle.jpg">
        </div>
        <div class="smr-card">
          <img src="images/shoulders/upper-traps-trigger-points.jpg">
          <p class="card-title"> Upper Trapezius Self-Massage </p>
          <p class="directions"> Requires : Tennis/Lacrosse ball or Theracane Device </p>
          <img class="trapezius" src="images/neck/upper-trap-acupressure.jpg">
          <p class="directions"> Lastly, feel for the area where the trapezius anchors right by the shoulder joint (Gb.21). 
                                 Apply pressure by leaning against a wall with the ball in position over the trigger point. Roll out any areas of tension between this point, in towards the base of your neck (Si.15).</p>
          <img src="images/smr/trapezius-massage-with-massage-ball.jpg">
        </div>
        <div class="smr-card">
          <img src="images/neck/">
          <p class="card-title"> Scalenes </p>
          <p class="directions">  </p>
          <img src="images/smr/">
        </div>
        <div class="smr-card">
          <img src="images/neck/sternomastoid-points.png">
          <p class="card-title"> Sternomastoid Self-Massage </p>
          <p class="directions">  </p>
          <img src="images/smr/theracane-sternomastoid.jpg">
        </div>
      </div>

      <div class="bottom-R-window style-7 stretch">
        <div>
          <h4> Follow-up Stretches </h4>
        </div>
        <div class="stretch-card">
          <img src="images/shoulders/biceps-brachii-stretch.jpg">
          <img src="images/shoulders/behind-back-stretch.png">
          <p class="card-title"> Chest Opening Stretch </p>
          <p class="directions"> Perform this stretch seated or standing. Interlock your fingers behind your back and look upward. Pull the shoulders back and downward. 
                                 Use a towel or partner for assistance if needed. This can also be done with arms bent and forearms parallel to the ground.</p>
        </div>
        <div class="stretch-card">
          <img src="images/neck/trapezius-side-stretch.jpg">
          <p class="card-title"> Trapezius Side Stretch </p>
          <p class="directions"> Tilt your head horizontally to the side, resting your hand on the top-side of your head. Push your head up into your hand, while using 
                                 your arm to gently resist. The opposite arm should be held behind your back.</p>
          <p class="directions"> After holding this for as long as you can, release and allow yourself to sink deeper into the stretch. Hold for a moment as you relax into the stretch.</p>
          <p class="directions"> Repeat for the other side. </p> 
        </div>
        <div class="stretch-card">
          <img src="images/neck/sternocleidomastoid-side-stretch.jpg">
          <p class="card-title"> Sternomastoid Stretch </p>
          <p class="directions"> Tilt head diagonally upward, resting your hand across your forehead. Push your head up into your hand, while using your arm to gently resist. </p>
          <p class="directions"> After holding this for as long as you can, release and allow yourself to sink deeper into the stretch. </p> 
          <p class="directions"> Repeat for the other side. If tension is more on one side, make sure to stretch the side more thoroughly. </p>  
        </div>
        <div class="stretch-card">
          <img src="images/neck/chin-tuck-test.png">
          <p class="card-title"> Chin Tucks (aka Cervical Retraction) </p>
          <p class="directions">  </p>
        </div>
        <div class="stretch-card">
          <img src="images/neck/Cobra Pose.png">
          <p class="card-title"> Cobra Pose </p>
          <p class="directions">  </p>
        </div>
      </div>
    </div>
  </div>
  
</div>