<div class="main-div">
  {{!-- Visual Sidenav for Neck, Shoulders, Lowerback, Wrists --}}
  <div class="visual-nav">
    <img src="images/back-nav.jpg" alt="visual-nav">

    <div class="neck-frwd-btn">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/neck-lean'"> 
        Neck <div> (Forward Lean)
      </button>
    </div>
    <div class="neck-asym-btn">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/neck-asym'"> 
        Neck (Asymmetry)
        </button>
    </div>
    <div class="shoulders-btn">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/shoulders'"> 
        Shoulders
      </button>
    </div>
    <div class="back-frwd-btn">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/back-lean'"> 
        Lowerback (Forward Lean)
      </button>
    </div>
    <div class="back-rnd-btn">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/back-rnd'"> 
        Lowerback (Rounded)
      </button>
    </div>
    <div class="back-asym-btn">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/back-asym'"> 
        Lowerback (Asymmetry)
      </button>
    </div>
    <div class="wrists-btn1">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/wrists'"> 
        Wrists
      </button>
    </div>
    <div class="wrists-btn2">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/wrists'"> 
        Wrists
      </button>
    </div>
  </div>

  {{!-- AJAX Windows --}}
  <div class="R-div">
    <div class="top-window">
      <div class="causes">
        <div> <h6> Causes & Corrections</h6></div>
        <div>
          <p> Neck strain is commonly caused by holding your head in one position for long periods of time. For most people, this means looking downward at a screen.
              By making sure the screen is positioned at eye-level, we corerct our posture - which reduces the strain to the muscles that hold our head up. </p>
          <p> For a quick fix, try adjusting your seat down (if you can) or elevating the screen-position up. </p>
        </div>
        <div class="image-row">
          <img src="images/neck/neck-f1.jpeg">
          <img src="images/neck/neck-f2.jpg">
        </div>
        <br>
      </div>
    </div>

    <div class="bottom-windows">
      <div class="bottom-L-window style-7 smr">
        <div>
          <h6> SMR Pressure-Point Massage</h6>
        </div>
        <div class="smr-card">
          <img class="trapezius" src="images/neck/Trapezius anatomy.jpeg">
          <img src="images/smr/SMR Thoracic spine.jpg">
          <p class="card-title"> Thoracic Spine SMR </p>
          <p class="directions"> Requires : Foam-roller or Tennis balls. </p>
          <p class="directions"> Keeping the arms crossed, roll over the device to massage the muscles along your spine - from your neck to mid-back. </p>
          <p class="directions warning"> For safety, avoid rolling out the lower-back as this has little benefits and can aggravate pre-existing problems.</p>
        </div>
        <div class="smr-card">
          <img src="images/smr/SMR Trapezius.jpg">
          <p class="card-title"> Upper Trapezius Wall SMR </p>
          <p class="directions"> Place a ball between your back and a flat, solid wall. Position it just above one of your shoulder blades and lean back into it.</p>
          <p class="directions"> Roll the ball circularly, seeking out any sore points or muscular tension. </p>
        </div>
      </div>

      <div class="bottom-R-window style-7 stretch">
        <div>
          <h6> Follow-up Stretches </h6>
        </div>
        <div class="stretch-card">
          <img src="images/neck/trapezius-side-stretch.jpg">
          <p class="card-title"> Trapezius Side Stretch </p>
          <p class="directions"> Tilt your head horizontally to the side, resting your hand on the top-side of your head. Push your head up into your hand, while using your arm to gently resist. </p>
          <p class="directions"> After holding this for as long as you can, release and allow yourself to sink deeper into the stretch. </p>
          <p class="directions"> Repeat for the other side. </p> 
        </div>
      </div>
    </div>
  </div>
  
</div>