<div class="main-div">
  {{!-- Visual Sidenav for Neck, Shoulders, Lowerback, Wrists --}}
  <div class="visual-nav">
    <img src="images/back-nav.jpg" alt="visual-nav">
    <div class="neck-frwd-btn">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/neck-lean'">  
        Neck <br/> (Forward Lean)
      </button>
    </div>
    <div class="neck-asym-btn">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/neck-asym'"> 
        Neck <br/> (Asymmetry)
        </button>
    </div>
    <div class="shoulders-btn">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/shoulders'"> 
        Shoulders
      </button>
    </div>
    <div class="back-frwd-btn">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/back-lean'"> 
        Lowerback <br/> (Forward Lean)
      </button>
    </div>
    <div class="back-rnd-btn">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/back-rnd'"> 
        Lowerback <br/> (Rounded)
      </button>
    </div>
    <div class="back-asym-btn">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/back-asym'"> 
        Lowerback <br/> (Asymmetry)
      </button>
    </div>
    <div class="wrists-btn1">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/wrists'"> 
        Wrists
      </button>
    </div>
    <div class="wrists-btn2">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/wrists'"> 
        Wrists
      </button>
    </div>
  </div>

  {{!-- Right Windows --}}
  <div class="R-div">
    <div class="top-window style-7">
      <div class="causes">
        <div> <h3> Causes & Corrections </h3></div>
        <div class="text-div">
          <p> Neck strain is commonly caused by holding your head in one position for long periods of time. For most people, this means looking downward at a screen.
              By making sure the </b>screen is positioned at eye-level</b>, we correct our posture - which reduces the strain to the muscles that hold our head up. </p>
        </div>
        <div class="image-row">
          <img class="short" src="images/neck/neck-f1.jpeg">
          <img class="long" src="images/neck/neck-f2.jpg">
        </div>
        <div class="text-div">
          <p> For a quick fix, try adjusting your seat down (if you can) or elevating the screen-position up. </p> 
          <p> Elevating the screen can be done with something as simple as stacked boxes/books, or with a device like a "Laptop Stand".
              These stands come in various styles, but the most important aspect to look for is a stand which eleveates the top of the screen to about <b>1-2 inches below eye-level</b>. 
              For most people this means a stand which raises the <b>top edge of the screen</b> a minimum of <b>12 inches (30cm) above the tabletop</b>.</p>
        </div>
        <div class="image-row">
          <img class="short" src="images/neck/laptopstands-lowres-1123.jpg">
          <img class="long" src="images/neck/roost-laptop-stand-posture-image-1024x571.gif">
          <img class="short" src="images/neck/Roost-Laptop-Stand.jpg">
        </div>
        <div class="text-div">
          <p> Keep in mind though, that using a laptop stand will mean that you will also need an external keyboard and mouse - 
              otherwise you arms will be in an uncomfortable position which can put strain on your <a href="/wrists">wrists.</a> </p>
        </div>
        <br>
      </div>
      {{!-- <a href="/profile"><img class="gear-link" src="images/Gear-8s-200px.gif"></a>
      <a class="profile-link" href="/profile"> Profile </a>  --}}
    </div>

    <div class="bottom-windows">
      <div class="bottom-L-window style-7 smr">
        <div>
          <h4> SMR Pressure-Point Massage</h4>
        </div>
        <div class="smr-card">
          <img class="trapezius" src="images/neck/Trapezius anatomy.jpeg">
          <img src="images/smr/theracane-all-shoulders.jpg">
          <p class="card-title"> Upper Trapezius SMR </p>
          <p class="directions"> Requires : Theracane or Hand-Massage </p>
          <p class="directions">  </p>
        </div>
        <div class="smr-card">
          <img src="images/smr/theracane-serratus-posterior-release-1.jpg">
          <img src="images/smr/SMR Trapezius.jpg">
          <p class="card-title"> Middle Trapezius SMR </p>
          <p class="directions"> Requires : Theracane or Tennis/Lacrosse ball</p>
          <p class="directions"> Place a ball between your back and a flat, solid wall. Position it just above one of your shoulder blades and lean back into it.</p>
          <p class="directions"> Roll the ball circularly, seeking out any sore points or muscular tension. </p>
        </div>
        <div class="smr-card">
          <img src="images/smr/SMR-Thoracic-spine.jpg">
          <p class="card-title"> Thoracic Spine SMR </p>
          <p class="directions"> Requires : Foam-roller or Tennis balls </p>
          <p class="directions"> Keeping the arms crossed, roll over the device to massage the muscles along your spine - from your neck to mid-back. </p>
          <p class="directions"> For safety, avoid rolling out the lower-back as this has little benefits and can aggravate pre-existing problems.</p>
        </div>
      </div>

      <div class="bottom-R-window style-7 stretch">
        <div>
          <h4> Follow-up Stretches </h4>
        </div>
        <div class="stretch-card">
          <img src="images/neck/trapezius-side-stretch.jpg">
          <p class="card-title"> Trapezius Side Stretch </p>
          <p class="directions"> Tilt your head horizontally to the side, resting your hand on the top-side of your head. Push your head up into your hand, while using 
                                 your arm to gently resist. The opposite arm should be held behind your back.</p>
          <p class="directions"> After holding this for as long as you can, release and allow yourself to sink deeper into the stretch. Hold for a moment as you relax into the stretch.</p>
          <p class="directions"> Repeat for the other side. </p> 
        </div>
      </div>
    </div>
  </div>
  
</div>