<div class="main-div">
  {{!-- Visual Sidenav for Neck, Shoulders, Lowerback, Wrists --}}
  <div class="visual-nav">
    <img src="images/back-nav.jpg" alt="visual-nav">

    <div class="neck-frwd-btn">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/neck-lean'"> 
        Neck (Forward Lean)
      </button>
    </div>
    <div class="neck-asym-btn">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/neck-asym'"> 
        Neck (Asymmetry)
        </button>
    </div>
    <div class="shoulders-btn">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/shoulders'"> 
        Shoulders
      </button>
    </div>
    <div class="back-frwd-btn">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/back-lean'"> 
        Lowerback (Forward Lean)
      </button>
    </div>
    <div class="back-rnd-btn">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/back-rnd'"> 
        Lowerback (Rounded)
      </button>
    </div>
    <div class="back-asym-btn">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/back-asym'"> 
        Lowerback (Asymmetry)
      </button>
    </div>
    <div class="wrists-btn1">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/wrists'"> 
        Wrists
      </button>
    </div>
    <div class="wrists-btn2">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/wrists'"> 
        Wrists
      </button>
    </div>
  </div>

  {{!-- AJAX Windows --}}
  <div class="R-div">
    <div class="top-window">
      <div class="causes">
        <div> <h6> Causes & Corrections</h6></div>
        <div>
          <p> Neck strain is commonly caused by holding your head in one position for long periods of time. For most people, this means looking downward at a screen – so one of the simplest ways to combat this is to make sure your screen is positioned at eye-level. </p>
        </div>
        <div class="image-row">
          <img src="images/neck/neck-f1.jpeg">
          <img src="images/neck/neck-f2.jpg">
        </div>
      </div>
    </div>

    <div class="bottom-windows">
      <div class="bottom-L-window">
        <div>
          <h6> SMR Pressure-Point Massage</h6>
        </div>
        <div class="smr-card">
          <img src="images/neck/Trapezius anatomy.jpeg">
          <img src="images/smr/SMR Thoracic spine.jpg">
          <p> Thoracic Spine SMR (requires foam-roller or a pair of tennis balls) </p>
          <p class="directions"> Keeping the arms crossed, roll over the device to massage the muscles along your spine - from your neck to mid-back. </p>
          <p class="directions"> For safety, avoid rolling out the lower-back as this has little benefits and can aggravate pre-existing problems.</p>
        </div>
        <div class="smr-card">
          <img src="images/smr/SMR Trapezius.jpg">
          <p>  </p>
        </div>
      </div>

      <div class="bottom-R-window stretch">
        <div>
          <h6> Follow-up Stretches </h6>
        </div>
        <div class="stretch-card">
          <img src="images/neck/trapezius-side-stretch.jpg">
          <p>  </p>
        </div>
      </div>
    </div>
  </div>
  
</div>