<div class="main-div">
  {{!-- Visual Sidenav for Neck, Shoulders, Lowerback, Wrists --}}
  <div class="visual-nav">
    <img src="images/back-nav.jpg" alt="visual-nav">
    <div class="neck-frwd-btn">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/neck-lean'">  
        Neck <br/> (Forward Lean)
      </button>
    </div>
    <div class="neck-asym-btn">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/neck-asym'"> 
        Neck <br/> (Asymmetry)
        </button>
    </div>
    <div class="shoulders-btn">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/shoulders'"> 
        Shoulders
      </button>
    </div>
    <div class="back-frwd-btn">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/back-lean'"> 
        Lowerback <br/> (Forward Lean)
      </button>
    </div>
    <div class="back-rnd-btn">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/back-rnd'"> 
        Lowerback <br/> (Rounded)
      </button>
    </div>
    <div class="back-asym-btn">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/back-asym'"> 
        Lowerback <br/> (Asymmetry)
      </button>
    </div>
    <div class="wrists-btn1">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/wrists'"> 
        Wrists
      </button>
    </div>
    <div class="wrists-btn2">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/wrists'"> 
        Wrists
      </button>
    </div>
  </div>

  {{!-- Right Windows --}}
  <div class="R-div">
    <div class="top-window style-7">
      <div class="causes">
        <div> <h3> Causes & Corrections </h3> </div>
        <div class="text-div">
          <p> Asymmetrical neck pain occurs from uneven strain on a particular side of the head. This is often caused by sleeping habits, sitting 
              with the head tilted/turned to one side for long periods of time, or by repeated actions like holding a phone on one side of the head. </p>
        </div>
        <div class="image-row">
          <div>
            {{!-- <img src="images/neck/neck-a1.jpeg"> --}}
            <img class="short" src="images/neck/levator_scapulae_ani.gif">
            <p class="directions"> Levator Scapulae </p>
          </div>
          <img class="short" src="images/neck/phone-to-ear.png">
          <div>
            {{!-- <img src="images/neck/neck-a2.jpg"> --}}
            <img class="short" src="images/neck/sternomastoid-ani.gif">
            <p class="directions"> Sternomastoid </p>
          </div>
        </div>
        <div class="text-div">
          <p> If the strain is located on the same side as your "mouse arm", this may be related to the way you are holding your mouse (refer to the <a href="/shoulders">"Shoulders"</a> section).</p>
        </div>
      </div>
      {{!-- <a href="/profile"><img class="gear-link" src="images/Gear-8s-200px.gif"></a>
      <a class="profile-link" href="/profile"> Profile </a>  --}}
    </div>

    <div class="bottom-windows">
      <div class="bottom-L-window style-7 smr">
        <div>
          <h4> SMR Pressure-Point Massage</h4>
        </div>
        <div class="smr-card">
          <img src="images/neck/levator-acupressure.jpg">
          <img src="images/smr/theracane-neck-ext.jpg">
          <p class="card-title"> Levator Scapulae Self-Massage </p>
          <p class="directions">  </p>
        </div>
        <div class="smr-card">
          <img src="images/neck/sternomastoid-points.png">
          <img src="images/smr/theracane-sternomastoid.jpg">
          <p class="card-title"> Sternomastoid Self-Massage </p>
          <p class="directions">  </p>
        </div>
      </div>

      <div class="bottom-R-window style-7 stretch">
        <div>
          <h4> Follow-up Stretches </h4>
        </div>
        <div class="stretch-card">
          <img src="images/neck/down-diag-neck-stretch.jpg">
          <p class="card-title"> Levator Scapulae Stretch </p>
          <p class="directions"> Tilt head diagonally downward, resting your hand on the back of your head. Push your head up into your hand, while using your arm to gently resist. </p>
          <p class="directions"> After holding this for as long as you can, release and allow yourself to sink deeper into the stretch. </p>
          <p class="directions"> Repeat for the other side. If tension is more on one side, make sure to stretch the side more thoroughly. </p> 
        </div>
        <div class="stretch-card">
          <img src="images/neck/sternocleidomastoid-side-stretch.jpg">
          <p class="card-title"> Sternomastoid Stretch </p>
          <p class="directions"> Tilt head diagonally upward, resting your hand across your forehead. Push your head up into your hand, while using your arm to gently resist. </p>
          <p class="directions"> After holding this for as long as you can, release and allow yourself to sink deeper into the stretch. </p> 
          <p class="directions"> Repeat for the other side. If tension is more on one side, make sure to stretch the side more thoroughly. </p>  
        </div>
      </div>
    </div>
  </div>
  
</div>