<div class="main-div">
  {{!-- Visual Sidenav for Neck, Shoulders, Lowerback, Wrists --}}
  <div class="visual-nav">
    <img src="images/back-nav.jpg" alt="visual-nav">

    <div class="neck-frwd-btn">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/neck-lean'">  
        Neck <br> (Forward Lean)
      </button>
    </div>
    <div class="neck-asym-btn">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/neck-asym'"> 
        Neck (Asymmetry)
        </button>
    </div>
    <div class="shoulders-btn">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/shoulders'"> 
        Shoulders
      </button>
    </div>
    <div class="back-frwd-btn">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/back-lean'"> 
        Lowerback (Forward Lean)
      </button>
    </div>
    <div class="back-rnd-btn">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/back-rnd'"> 
        Lowerback (Rounded)
      </button>
    </div>
    <div class="back-asym-btn">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/back-asym'"> 
        Lowerback (Asymmetry)
      </button>
    </div>
    <div class="wrists-btn1">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/wrists'"> 
        Wrists
      </button>
    </div>
    <div class="wrists-btn2">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/wrists'"> 
        Wrists
      </button>
    </div>
  </div>


  {{!-- AJAX Windows --}}
  <div class="R-div">
    <div class="top-window style-7">
      <div class="causes">
        <div> <h6> Causes & Corrections</h6> </div>
        <div class="text-div">
          <p> What we most commonly perceive as Shoulder tension is actually an extension of neck strain from a forward leaning head position 
              (sometimes made worse by a rounding of the back). This leads to a "hunched over" posture which causes the Trapezius (aka your 
              "traps") and Pectorals (aka your "pecs") to tense up. </p>
        </div>
        <div class="image-row">
          <img class="long" src="images/shoulders/neck_illustration1a.jpg">
          <img class="long" src="images/shoulders/trapezius-pain.jpeg">
          <img class="short" src="images/shoulders/posture-correction.jpg">
        </div>
        <div class="text-div">
          <p> Most forms of shoulder-related computer strain however, are usaually a result of tension being held between the neck and wrist. 
              If either of these areas are strained, try correcting them and see if the pain persists.</p>
          <p> If you experience shoulder pain in the mouse-arm specifically, switching to a <b>vertical mouse</b> can often help. 
              By aligning the arm in a more neutral position, you can take much of the strain off of the internal rotator muscles.</p>
        </div>        
        <div class="image-row">
          <img class="long" src="images/shoulders/shoulders1.jpg">
          <img class="long" src="images/shoulders/horizontal-mouse-posture.jpg">
          <img class="long" src="images/shoulders/vertical-mouse-posture.jpg">
        </div>
        <br/>
      </div>
      <a href="/profile"><img class="gear-link" src="images/Gear-8s-200px.gif"></a>
      <a class="profile-link" href="/profile"> Profile </a> 
    </div>

    <div class="bottom-windows">
      <div class="bottom-L-window style-7 smr">
        <div>
          <h6> SMR Pressure-Point Massage</h6>
        </div>
        <div class="smr-card">
          <img class="trapezius" src="images/neck/Trapezius anatomy.jpeg">
          <img src="images/smr/SMR-Thoracic-spine.jpg">
          <p class="card-title"> Thoracic Spine SMR </p>
          <p class="directions"> Requires : Foam-roller or Tennis balls </p>
          <p class="directions"> Keeping the arms crossed, roll over the device to massage the muscles along your spine - from your neck to mid-back. </p>
          <p class="directions"> For safety, avoid rolling out the lower-back as this has little benefits and can aggravate pre-existing problems.</p>
        </div>
        <div class="smr-card">
          <img src="images/smr/theracane-serratus-posterior-release-1.jpg">
          <img src="images/smr/SMR Trapezius.jpg">
          <p class="card-title"> Middle Trapezius SMR </p>
          <p class="directions"> Requires : Theracane or Tennis/Lacrosse ball</p>
          <p class="directions"> Place a ball between your back and a flat, solid wall. Position it just above one of your shoulder blades and lean back into it.</p>
          <p class="directions"> Roll the ball circularly, seeking out any sore points or muscular tension. </p>
        </div>
        <div class="smr-card">
          <img src="images/smr/theracane-all-shoulders.jpg">
          <p class="card-title"> Upper Trapezius SMR </p>
          <p class="directions"> Requires : Theracane or Hand-Massage </p>
          <p class="directions">  </p>
        </div>

      </div>

      <div class="bottom-R-window style-7 stretch">
        <div>
          <h6> Follow-up Stretches </h6>
        </div>
        <div class="stretch-card">
          <img src="images/neck/trapezius-side-stretch.jpg">
          <p class="card-title"> Trapezius Side Stretch </p>
          <p class="directions"> Tilt your head horizontally to the side, resting your hand on the top-side of your head. Push your head up into your hand, while using your arm to gently resist. </p>
          <p class="directions"> After holding this for as long as you can, release and allow yourself to sink deeper into the stretch. </p>
          <p class="directions"> Repeat for the other side. </p> 
        </div>
        <div class="stretch-card">
          <img src="images/shoulders/biceps-brachii-stretch.jpg">
          <img src="images/shoulders/behind-back-stretch.png">
          <p class="card-title"> Chest Opening Stretch </p>
          <p class="directions"> Perform this stretch seated or standing. Interlock your fingers behind your back and look upward. Pull the shoulders back and downward. 
                                 Use a towel or partner for assistance if needed. This can also be done with arms bent and forearms parallel to the ground.</p>
        </div>
        <div class="stretch-card">
          <img src="images/shoulders/DOORWAY-PEC-STRETCH.jpg">
          <img src="images/shoulders/Chest-stretch-form.jpg">
          <p class="card-title"> Doorway Chest Opener </p>
          <p class="directions"> Perform this stretch using door frame, wall, or pole for support. Drop into a forward lunge stance and lean in, pulling the shoulders back and downward. 
                                 To deepen the stretch, sink lower into your stance.
                                 </p>
        </div>
      </div>
    </div>
  </div>
  
</div>