<div class="main-div">
  {{!-- Visual Sidenav for Neck, Shoulders, Lowerback, Wrists --}}
  <div class="visual-nav">
    <img src="images/back-nav.jpg" alt="visual-nav">
    <div class="neck-frwd-btn">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/neck-lean'">  
        Neck <br/> (Forward Lean)
      </button>
    </div>
    <div class="neck-asym-btn">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/neck-asym'"> 
        Neck <br/> (Asymmetry)
        </button>
    </div>
    <div class="shoulders-btn">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/shoulders'"> 
        Shoulders
      </button>
    </div>
    <div class="back-frwd-btn">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/back-lean'"> 
        Lowerback <br/> (Forward Lean)
      </button>
    </div>
    <div class="back-rnd-btn">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/back-rnd'"> 
        Lowerback <br/> (Rounded)
      </button>
    </div>
    <div class="back-asym-btn">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/back-asym'"> 
        Lowerback <br/> (Asymmetry)
      </button>
    </div>
    <div class="wrists-btn1">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/wrists'"> 
        Wrists
      </button>
    </div>
    <div class="wrists-btn2">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/wrists'"> 
        Wrists
      </button>
    </div>
  </div>

  {{!-- Right Windows --}}
  <div class="R-div">
    <div class="top-window style-7">
      <div class="causes">
        <div> <h3> Causes & Corrections </h3> </div>
        <div class="text-div">
          <p> What we most commonly perceive as Shoulder tension is actually an extension of neck strain from a <a href="/neck-lean">forward leaning head position</a> 
              (sometimes made worse by a <a href="/lowerback-round">rounding of the back</a>). This leads to a "hunched over" posture which brings the head forward, 
              causing the Trapezius (aka your "traps") and Pectorals (aka your "pecs") to tense up. </p>
        </div>
        <div class="image-row">
          <img class="long" src="images/shoulders/neck_illustration1a.jpg">
          <img class="long" src="images/shoulders/trapezius-pain.jpeg">
          <img class="short" src="images/shoulders/posture-correction.jpg">
        </div>
        <div class="top-box"> 
          <div class="text-div">
            <p> Forward Shoulders </p>
          </div>
          <div class="image-row">
            <img class="short" src="images/shoulders/vertical-sternum-pack.jpg">
            <img class="long" src="images/shoulders/super-straps2.jpg">
            {{!-- <img class="short" src="images/shoulders/.jpg"> --}}
          </div>
          <br/>
        </div>
        <div class="text-div">
          <p> Many forms of shoulder-related computer strain however, are usaually a result of tension 
              being held between the <a href="/neck-lean">neck</a> and <a href="/wrists">wrist</a>. 
              If either of these areas are strained, try correcting them and see if the pain persists. </p>
        </div>
        <div class="image-row">
          <img class="x-long" src="images/shoulders/shoulders1.jpg">
          <img class="long" src="images/shoulders/neck_tennis_elbow_pain_pattern.jpg">
          <img class="x-long" src="images/shoulders/Adult-Spine-radiculopathy-c6-c7.png">
        </div>
        <div class="text-div">
          <p> In particular, make sure your keyboard and mouse are not positioned too far in front of you,
              as this may contribute to a more "hunched" shoulders-forward posture.</p>
          <p> If you experience shoulder pain in the mouse-arm specifically, switching to a <b>vertical mouse</b> can often help. 
              By aligning the arm in a more neutral position, you can take much of the strain off of the internal rotator muscles.</p>
        </div>       
        <div class="image-row">
          <img class="x-long" src="images/shoulders/horizontal-mouse-posture.jpg">
          <img class="x-long" src="images/shoulders/vertical-mouse-posture.jpg">
        </div>
        <br/>
      </div>
      {{!-- <a href="/profile"><img class="gear-link" src="images/Gear-8s-200px.gif"></a>
      <a class="profile-link" href="/profile"> Profile </a>  --}}
    </div>

    <div class="bottom-windows">
      <div class="bottom-L-window style-7 smr">
        <div>
          <h4> SMR Pressure-Point Massage</h4>
        </div>
        <div class="smr-card">
          {{!-- <img src="images/smr/pectoralis-minor-SMR.jpg"> --}}
          <img src="images/smr/SMR Pectoralis Minor.jpg">
          <img src="images/smr/theracane-pec.jpeg">
          <p class="card-title"> Pectoralis Minor SMR </p>
          <p class="directions"> Requires : Tennis/Lacrosse ball or Theracane Device </p>
          <p class="directions"> Apply circular rolling pressure by placing the ball between the pec and the shoulder. 
             Apply pressure using your bodyweight. This can be done laying face-down on the ground, or by leaning forward into a wall. </p>
        </div>  
        <div class="smr-card">
          <img class="trapezius" src="images/neck/Trapezius anatomy.jpeg">
          <img src="images/smr/SMR-Thoracic-spine.jpg">
          <p class="card-title"> Thoracic Spine & Lower Trapezius SMR </p>
          <p class="directions"> Requires : Foam-roller or Tennis balls </p>
          <p class="directions"> Keeping the arms crossed, roll over the device to massage the muscles along your spine - from your neck to mid-back. </p>
          <p class="directions"> For safety, avoid rolling out the lower-back as this has little benefits and can aggravate pre-existing problems.</p>
        </div>
        <div class="smr-card">
          <img src="images/smr/SMR Trapezius-Middle.jpg">
          <img src="images/smr/theracane-serratus-posterior-release-1.jpg">
          <p class="card-title"> Middle Trapezius SMR </p>
          <p class="directions"> Requires : Tennis/Lacrosse ball or Theracane Device </p>
          <p class="directions"> Place a ball between your back and a flat, solid wall. Position it just above one of your shoulder blades and lean back into it.</p>
          <p class="directions"> Roll the ball circularly, seeking out any sore points or muscular tension. </p>
          <p class="directions"> If you are using a Theracane, use the hook end to massage out the area just between the spine and shoulder blade. </p>
        </div>
        <div class="smr-card">
          <img class="trapezius" src="images/neck/upper-trap-acupressure.jpg">
          <p class="card-title"> Upper Trapezius SMR </p>
          <p class="directions"> Requires : Tennis/Lacrosse ball or Theracane Device </p>
          <p class="directions"> Feel for tension in the large muscle located between the base of your skull and shoulders. </p>
          <p class="directions"> Apply and hold pressure to the pair of points <i>centrally-located between your ear and base of your skull</i> (you will feel a small bump in the bone where the muscle attaches). 
             You can use a device, the thumbs, or the pointer/middle fingers.</p>
          <p class="directions"> Next, feel for tension in the points between the base of the neck and shoulder, just above the shoulder blade. Apply and hold pressure </p>
          <img src="images/smr/SMR Trapezius-Upper.png">
        </div>
      </div>

      <div class="bottom-R-window style-7 stretch">
        <div>
          <h4> Follow-up Stretches </h4>
        </div> 
        <div class="stretch-card">
          <img src="images/shoulders/biceps-brachii-stretch.jpg">
          <img src="images/shoulders/behind-back-stretch.png">
          <p class="card-title"> Chest Opening Stretch </p>
          <p class="directions"> Perform this stretch seated or standing. Interlock your fingers behind your back and look upward. Pull the shoulders back and downward. 
                                 Use a towel or partner for assistance if needed. This can also be done with arms bent and forearms parallel to the ground.</p>
        </div>
        <div class="stretch-card">
          <img src="images/shoulders/Chest-stretch-form.jpg">
          <img src="images/shoulders/DOORWAY-PEC-STRETCH.jpg">
          <p class="card-title"> Doorway Chest Opener </p>
          <p class="directions"> Perform this stretch using door frame, wall, or pole for support. Drop into a forward lunge stance and lean in, pulling the shoulders back and downward. 
                                 To deepen the stretch, sink lower into your stance. </p>
        </div>
        <div class="smr-card">
          <img class="trapezius" src="images/neck/upper-trap-acupressure.jpg">
          <p class="card-title"> Upper Trapezius Self-Massage </p>
          <p class="directions"> Requires : Tennis/Lacrosse ball or Theracane Device </p>
          <p class="directions"> Lastly, feel for the area where the trapezius anchors right by the shoulder joint (Gb.21). </p>
          <img src="images/smr/trapezius-massage-with-massage-ball.jpg">
          <p class="directions"> Apply pressure by leaning against a wall with the ball in position over the trigger point. Roll out any areas of tension between this point, in towards the base of your neck (Si.15).</p>
          <img src="images/shoulders/upper-traps-trigger-points.jpg">
        </div>
        <div class="stretch-card">
          <img src="images/neck/Cobra Pose.png">
          <p class="card-title"> Cobra Pose </p>
          <p class="directions">  </p>
        </div>
      </div>
    </div>
  </div>
  
</div>