<div class="main-div">
  {{!-- Visual Sidenav for Neck, Shoulders, Lowerback, Wrists --}}
  <div class="visual-nav">
    <img src="images/back-nav.jpg" alt="visual-nav">

    <div class="neck-frwd-btn">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/neck-lean'">  
        Neck <br> (Forward Lean)
      </button>
    </div>
    <div class="neck-asym-btn">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/neck-asym'"> 
        Neck (Asymmetry)
        </button>
    </div>
    <div class="shoulders-btn">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/shoulders'"> 
        Shoulders
      </button>
    </div>
    <div class="back-frwd-btn">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/back-lean'"> 
        Lowerback (Forward Lean)
      </button>
    </div>
    <div class="back-rnd-btn">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/back-rnd'"> 
        Lowerback (Rounded)
      </button>
    </div>
    <div class="back-asym-btn">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/back-asym'"> 
        Lowerback (Asymmetry)
      </button>
    </div>
    <div class="wrists-btn1">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/wrists'"> 
        Wrists
      </button>
    </div>
    <div class="wrists-btn2">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/wrists'"> 
        Wrists
      </button>
    </div>
  </div>


  {{!-- AJAX Windows --}}
  <div class="R-div">
    <div class="top-window style-7">
      <div class="causes">
        <div> <h6> Causes & Corrections</h6> </div>
        <div>
          <p> Shoulder-related computer strain is less common, but can occur when tension is held between the neck and wrist. 
              If either of these areas is strained, try correcting them first and see if the pain persists.</p>
          <p> If you experience shoulder pain in the mouse-arm, switching to a <b>vertical mouse</b> can often help. 
              By aligning the arm in a more neutral position, you can take much of the strain off of the internal rotator muscles.</p>
        </div>
        <div class="image-row">
          <img class="long" src="images/shoulders/shoulders1.jpg">
          <img class="long" src="images/shoulders/horizontal-mouse-posture.jpg">
          <img class="long" src="images/shoulders/vertical-mouse-posture.jpg">
        </div>
      </div>
      <a href="/profile"><img class="gear-link" src="images/Gear-8s-200px.gif"></a>
      <a class="profile-link" href="/profile"> Profile </a> 
    </div>

    <div class="bottom-windows">
      <div class="bottom-L-window style-7 smr">
        <div>
          <h6> SMR Pressure-Point Massage</h6>
        </div>
        <div class="smr-card">
          <img class="trapezius" src="images/neck/Trapezius anatomy.jpeg">
          <img src="images/smr/SMR Thoracic spine.jpg">
          <p class="card-title"> Thoracic Spine SMR </p>
          <p class="directions"> Requires : Foam-roller or Tennis balls</p>
          <p class="directions"> Keeping the arms crossed, roll over the device to massage the muscles along your spine - from your neck to mid-back. </p>
          <p class="directions"> For safety, avoid rolling out the lower-back as this has little benefits and can aggravate pre-existing problems.</p>
        </div>
        <div class="smr-card">
          <img src="images/shoulders/pectoralis-minor-SMR.jpg">
          <p class="card-title"> Pectoralis Minor SMR </p>
          <p class="directions"> Requires : Tennis or Lacrosse ball</p>
          <p class="directions"> Apply circular rolling pressure by placing the ball between the pec and the shoulder. 
              Apply pressure using your bodyweight. This can be done laying face-down on the ground, or by leaning forward into a wall. </p>
        </div>
      </div>

      <div class="bottom-R-window style-7 stretch">
        <div>
          <h6> Follow-up Stretches </h6>
        </div>
        <div class="stretch-card">
          <img src="images/neck/trapezius-side-stretch.jpg">
          <p class="card-title"> Trapezius Side Stretch </p>
          <p class="directions"> Tilt your head horizontally to the side, resting your hand on the top-side of your head. Push your head up into your hand, while using your arm to gently resist. </p>
          <p class="directions"> After holding this for as long as you can, release and allow yourself to sink deeper into the stretch. </p>
          <p class="directions"> Repeat for the other side. </p> 
        </div>
        <div class="stretch-card">
          <img src="images/shoulders/DOORWAY-PEC-STRETCH.jpg">
          <p class="card-title"> Chest Opening Stretch </p>
          <p class="directions"> Perform this stretch seated or standing. Interlock your fingers behind your back and look upward. Pull the shoulders back and downward. 
                                 Use a towel or partner for assistance if needed. </p>
          <p class="directions"> This can also be done while standing, using the frame of a doorway for support. </p>
        </div>
      </div>
    </div>
  </div>
  
</div>