<div class="main-div">
  {{!-- Visual Sidenav for Neck, Shoulders, Lowerback, Wrists --}}
  <div class="visual-nav">
    <img src="images/back-nav.jpg" alt="visual-nav">
    <div class="neck-frwd-btn">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/neck-lean'">  
        Neck <br/> (Forward Lean)
      </button>
    </div>
    <div class="neck-asym-btn">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/neck-asym'"> 
        Neck <br/> (Asymmetry)
        </button>
    </div>
    <div class="shoulders-btn">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/shoulders'"> 
        Shoulders
      </button>
    </div>
    <div class="back-frwd-btn">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/back-lean'"> 
        Lowerback <br/> (Forward Lean)
      </button>
    </div>
    <div class="back-rnd-btn">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/back-rnd'"> 
        Lowerback <br/> (Rounded)
      </button>
    </div>
    <div class="back-asym-btn">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/back-asym'"> 
        Lowerback <br/> (Asymmetry)
      </button>
    </div>
    <div class="wrists-btn1">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/wrists'"> 
        Wrists
      </button>
    </div>
    <div class="wrists-btn2">
      <button class="glow-on-hover" type="button" onclick="window.location.href='/wrists'"> 
        Wrists
      </button>
    </div>
  </div>

  {{!-- Right Windows --}}
  <div class="R-div">
    <div class="top-window style-7">
      <div class="causes">
        <div> <h3> Causes & Corrections</h3> </div>
        <div class="text-div">
          <p> Proper wrist alignment is the simplest route to preventing wrist pain. Whenever the wrist is held at an angle, the muscles of the forearm    
              must work in order to hold that position. Over time this can allow tension to build on the tendons which attach at the wrist &/or elbow. 
              That's why even though the pain may beat the joint, you have to treat the source - the muscle which tenses up and pulls on it. </p>
        </div>
        <div class="image-row">
          <img class="long" src="images/wrists/muscles-wrist.jpg">
          <img class="short" src="images/wrists/forearm-tennis-elbow.jpg">
          <img class="short" src="images/wrists/wrist-and-thumb-pain-massage-1.jpg">
        </div>
        <div class="top-box"> 
          <div class="text-div">
          <p> You can usually tell how your wrist is aligned by the angle and position of the elbows. If the elbow is at any angle other than 90-degrees, 
              the wrists are likely bent. When the elbows are splayed out, the wrists must bend to the side (unless you are using an ergonomic keyboard). </p>
          </div>
          <div class="image-row">
            <img class="short" src="images/wrists/ergomouse.jpg">
            <img class="short" src="images/wrists/wrist-bad3.jpg">
            <img class="short" src="images/wrists/ergokeyboard.jpg">
          </div>
          <div class="text-div">
            <p> A better option is to find ways which allow the wrists to easily and naturally rest in a neutral position. This means centering the main 
                part of the <b>keyboard directly in front of you</b>, positioned at a height that keeps your <b>elbows at a near 90-degree angle</b>. </p>
          </div>
          <div class="image-row">
            <img class="short" src="images/ergo.jpg">
            <img class="long" src="images/wrists/elbow-ergo.jpg">
            <img class="short" src="images/wrists/idealtyping.jpeg">
          </div>
          <div class="text-div">
            <p> When it comes to ergonomic keyboards, there are so many different designs out there that only you can decide what is right for you - 
                or whether you even need one. Generally though, you want to look for a keyboard that <b>angles downward toward the back</b> and with 
                two-sides <b>slightly tilted inward at the center</b> (doesn't have to be a split-keyboard). </p>
          </div>
          <div class="image-row">
            <img class="short" src="images/wrists/Under-table-tray.jpg">
            <img class="long" src="images/wrists/xbow-keyboard.png">
            <img class="short" src="images/wrists/split-keyboard.png">
          </div>
        </div>
        <div class="text-div">
          <p> CAUTION : For most people, wrist-rests can help to keep the wrists in a straight, neutral position. 
              However, there is some research which indicates that if your wrist rests at even a slight angle, it
              may contribute to restricting bloodflow and applying pressure to the nerve associated with carpal tunnel. </p>
        </div>
        <div class="image-row">
          <img class="short" src="images/wrists/wristrest-cat.jpg">
          <img class="long" src="images/wrists/wristrest-claw.jpg">
          <img class="short" src="images/wrists/wristrest-unicorn.png">
        </div>
        <div class="text-div">
          <p> <i> Consult your physician if you experience : Numbness in the thumb and first 3 fingers, Weakness in the muscles of the hand, 
              Sensations of pain/burning which radiate up your arm, &/or Radiating pain which flares up at night and interferes with sleep.</i> </p>
        </div>
        <div class="image-row">
          <img class="short" src="images/wrists/carpal2.jpg">
          <img class="long" src="images/wrists/carpal-tunnel-syndrome.png">
          <img class="short" src="images/wrists/carpal-fingers.jpg">
        </div>
        <br/>
      </div>
      {{!-- <a href="/profile"><img class="gear-link" src="images/Gear-8s-200px.gif"></a>
      <a class="profile-link" href="/profile"> Profile </a>  --}}
    </div>

    <div class="bottom-windows">
      <div class="bottom-L-window style-7 smr">
        <div>
          <h4> SMR Pressure-Point Massage</h4>
        </div>
        <div class="smr-card">
          <img src="images/smr/wrist-SMR-roller.jpg">
          <p class="card-title">  </p>
          <p class="directions">  </p>
        </div>
        <div class="smr-card">
          {{!-- <img src="images/smr/"> --}}
          <img src="images/smr/wrist-SMR-massage.jpg">
          <p class="card-title">  </p>
          <p class="directions">  </p>
        </div>
        <div class="smr-card">
          <img src="images/wrists/hand-acupressure.jpg">
           <img src="images/wrists/hand-tendons.jpg">
          <p class="card-title">  </p>
          <p class="directions">  </p>
        </div>
      </div>

      <div class="bottom-R-window style-7 stretch">
        <div>
          <h4> Follow-up Stretches </h4>
        </div>
        <div class="stretch-card">
          <img src="images/wrists/wrist-ext-stretch.jpg">
          <img src="images/wrists/wrist-extension-table-stretch.jpg">
          {{!-- <img src="images/wrists/elbow-tendonitis-armstretch.png"> --}}
          <p class="card-title"> Wrist Extensor</p>
          <p class="directions">  </p>
        </div>
        <div class="stretch-card">
          <img src="images/wrists/wrist-flex-prayer.jpeg">
          <img src="images/wrists/wrist-flexion-table-stretch.jpg">
          {{!-- <img src="images/wrists/Wrist-Stretch-Wall.jpg"> --}}
          <p class="card-title"> Wrist Flexor </p>
          <p class="directions">  </p>
        </div>
        <div class="stretch-card">
          <img src="images/wrists/overhead-stretch.png">
          <p class="card-title">  </p>
          <p class="directions">  </p>
        </div>
      </div>
    </div>
  </div>
</div>