<body #id="custom-page" bgcolor="######" style="color:white">

    <form id="createCustomForm" action="/custom/create" method="post">
        <h4>Add a Stretch to your Routines </h4>

        <label for="nameInput"> Name of Stretch </label>
        <input id="nameInput"  class="white-input" type="text" name="name" placeholder="Name">

        <label for="descriptionInput">Write a Brief Description</label>
        <input id="descriptionInput"  class="white-input" name="description"type="text" placeholder="description">

        <br>
        
        <button> Save </button>

        <a href="/custom/custom-index" class="routines-link"> See Routines List </a>
    </form>

</body>
