[Desktop Entry]
Encoding=UTF-8
Name=Link to How Your Smart Phone is Hurting Your Body-Sagewood Wellness Center
Type=Link
URL=http://www.sagewoodwellness.com/how-your-smart-phone-is-hurting-your-body/
Icon=text-html
